@model ResourceManagement.UI.ViewModels.EmployeeViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h3>Add Employee</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Employee.RoleId" class="control-label"></label>
                <select asp-for="Employee.RoleId" class="form-control" asp-items="ViewBag.RoleId"></select>
            </div>
             <div class="form-group">
                <label asp-for="Project.ProjectId" class="control-label"></label>
                <select asp-for="Project.ProjectId" class="form-control" asp-items="ViewBag.ProjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Employee.EmpCode" class="control-label"></label>
                <input asp-for="Employee.EmpCode" class="form-control" />
                <span asp-validation-for="Employee.EmpCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.FirstName" class="control-label"></label>
                <input asp-for="Employee.FirstName" class="form-control" />
                <span asp-validation-for="Employee.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.LastName" class="control-label"></label>
                <input asp-for="Employee.LastName" class="form-control" />
                <span asp-validation-for="Employee.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Employee.ManagerId" class="control-label"></label>
                <input asp-for="Employee.ManagerId" class="form-control" />
                <span asp-validation-for="Employee.ManagerId" class="text-danger"></span>
            </div>
           
            <br/>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
